.page.theme_dark {
  --bg-color: #000028;
  --title-color: #ff0070;
  --main-title-color: #db00ff;
  --title-shadow-color: #ff0070;
  --content-title-color: #000028;
  --title-background-color: #ff0070;
  --text-color: #f1b2ce;
  --outline-color: rgba(255, 0, 112, 0.4);
  background-image: url(../images/cover-image-dark.png);
}

@media (prefers-color-scheme: dark) {
  .page {
    --bg-color: #000028;
    --title-color: #ff0070;
    --main-title-color: #db00ff;
    --title-shadow-color: #ff0070;
    --content-title-color: #000028;
    --title-background-color: #ff0070;
    --text-color: #f1b2ce;
    --outline-color: rgba(255, 0, 112, 0.4);
    background-image: url(../images/cover-image-dark.png);
  }
}
